
h1,h2,h3,h4,h5,h6{ /* for all titles */
    font-family: "Plus Jakarta Sans", "Montserrat", Verdana, Geneva, Tahoma, sans-serif;
    line-height: 110%;
    color: #f4f4f4;
}

body {
background-color:#24292e;
  font-family: "Plus Jakarta Sans", "Montserrat", Verdana, Geneva, Tahoma, sans-serif;

}
p {
color: #f2f2f2
}
/* adding scroll?*/
html{
overflow-y:scroll;
}

.intro-fade-in { 

animation: fadeIn 5s; 

}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

  /* CSS for the navigation bar */
    .navbar {
      background-color: #2d3339;
      overflow: hidden;
    }
    
    /* CSS for the navigation links */
    .navbar a {
      float: left;
      color: #f2f2f2;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
    }
    
    /* CSS for the social media icons */
    .social-icons {
      float: right;
    }
    
    /* CSS for individual social media icons */
    .social-icons img {
      width: 20px;
      margin-left: 5px;
    }

#rick{
    display: block;
  margin-left: auto;
  margin-right: auto;
  width: 350;
}
#rick-text{
font-size: 1.5vw;
text-align: center;

}

#title{
font-size:5vw;
text-align:center;

}

